# ===== Maven =====
target/
**/target/

# ===== Logs / temp =====
*.log
logs/
log/
tmp/
temp/
*.tmp

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IntelliJ IDEA =====
*.iml
*.ipr
*.iws
.idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/httpRequests
.idea/**/dataSources*
.idea/**/dataSources/
.idea/gittoolbox.xml

# ===== Compiled Java =====
*.class

# ===== Local env / secrets (если используешь) =====
.env
*.local
